.privacy-active,
.chat-privacy-active {
	filter: blur(5px);
}
.privacy-active:hover,
.chat-privacy-active:hover {
	filter: blur(0px);
}
.my-theme {
	right: 0;
	top: 30%;
	height: 60vh;
	transform: translateY(-50%);
}
